@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");

.main-container {
  height: 100vh;
  background-color: #224957;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  color: #ffffff;
}
.registerHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-weight: normal;
  line-height: 3rem;
  margin-top: 5%;
}
.registerHeader h1 {
  font-family: "Six Caps", sans-serif;
  letter-spacing: 5px;
  font-size: 50px;
}
.registerHeader p {
  font-family: "Lexend Deca", sans-serif;
  font-size: normal;
}
.loginHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  line-height: 3rem;
}
.loginHeader h1 {
  font-family: "Six Caps", sans-serif;
  letter-spacing: 5px;
  font-size: 50px;
}
.loginHeader p {
  font-family: "Lexend Deca", sans-serif;
  font-size: normal;
}
#link {
  color: #ffffff;
  text-decoration: none;
  font-size: large;
}
#link:active {
  color: #ffffff;
}
form {
  line-height: 20px;
}
#submit__btn {
  background: #20df7f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 300px;
  height: 45px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
#floatingInput {
  width: 300px;
  height: 45px;
  background: #224957;
  border-radius: 10px;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  border: 0px solid;
  outline: none;
}
#floatingInput::placeholder {
  color: #ffff;
  opacity: 1;
}

#floatingInput:placeholder-shown {
  border: 1px solid #ffff;
}
.quoteAPI {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 75%;
  margin-top: 2%;
  font-size: 20px;
}
.already {
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 320px) {
  .main-container {
    height: 100vh;
    background-color: #224957;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
