/* Dashboard Login Dark Theme */

position: relative;
width: 1280px;
height: 720px;

background: #093545;


/* Vectors */

position: absolute;
width: 1280px;
height: 111px;
left: 0px;
top: 609px;



/* Vector */

position: absolute;
width: 1280px;
height: 111px;
left: 0px;
top: 609px;

background: rgba(32, 223, 127, 0.09);


/* Vector */

position: absolute;
width: 1280px;
height: 111px;
left: 0px;
top: 609px;

background: rgba(229, 229, 229, 0.13);


/* Light Mode / Dark Mode */

position: absolute;
width: 70px;
height: 70px;
left: 36px;
top: 630px;



/* Ellipse 1 */

position: absolute;
width: 70px;
height: 70px;
left: 36px;
top: 630px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Ellipse 2 */

position: absolute;
width: 43px;
height: 43px;
left: 50px;
top: 643px;

background: #2D2D2D;


/* Ellipse 3 */

position: absolute;
width: 17px;
height: 33px;
left: 71px;
top: 648px;

background: #FFFFFF;


/* Form */

position: absolute;
width: 347px;
height: 406px;
left: 466px;
top: 157px;



/* Section Forgot */

position: absolute;
width: 293px;
height: 17px;
left: 493px;
top: 477px;



/* Forgot password? */

position: absolute;
width: 128px;
height: 17px;
left: 658px;
top: 477px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #20DF7F;



/* Remember me */

position: absolute;
width: 108px;
height: 17px;
left: 518px;
top: 477px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Rectangle 1 */

position: absolute;
width: 18px;
height: 17px;
left: 493px;
top: 477px;

background: #224957;
border-radius: 5px;


/* Login btn */

position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 518px;



/* Rectangle */

position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 518px;

background: #20DF7F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
border-radius: 10px;


/* login */

position: absolute;
width: 44px;
height: 20px;
left: 618px;
top: 531px;

font-family: Lexend Deca;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
text-align: center;
text-transform: capitalize;

color: #FFFFFF;



/* Password */

position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 409px;



/* Rectangle */

position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 409px;

background: #224957;
border-radius: 10px;


/* Password */

position: absolute;
width: 65px;
height: 20px;
left: 511px;
top: 422px;

font-family: Lexend Deca;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #FFFFFF;



/* Username */

position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 332px;



/* Rectangle */

position: absolute;
width: 300px;
height: 45px;
left: 490px;
top: 332px;

background: #224957;
border-radius: 10px;


/* Login */

position: absolute;
width: 39px;
height: 20px;
left: 508px;
top: 344px;

font-family: Lexend Deca;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

color: #FFFFFF;



/* Sign in and start managing your candidates! */

position: absolute;
width: 347px;
height: 20px;
left: 466px;
top: 276px;

font-family: Lexend Deca;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Sign in */

position: absolute;
width: 212px;
height: 80px;
left: 534px;
top: 157px;

font-family: Lexend Deca;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 80px;
/* identical to box height */
text-align: center;

color: #FFFFFF;

